<!doctype html>
<html>
<head>
  <meta charset=utf-8 />
  <title>{% if page.title %} {{ page.title }} | {% endif %} Resume</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-531T00RE6T">
  </script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-531T00RE6T');
  </script>
  <link href="media/{{ site.style }}-screen.css" type="text/css" rel="stylesheet" media="screen">
  <link href="media/{{ site.style }}-print.css" type="text/css" rel="stylesheet" media="print">
</head>
<body>
  <div id="main">
    <div id="content">
    {{ content }}
    </div>
  </div>
</body>
</html>